/*Menu icon*/
.accorsyslocalization_menu_icon {
    background-image:url(icons/accorsys.localization/action_about.png) !important;
    background-position: center center !important;
}
.accorsyslocalization_page_icon {
    background-image:url(icons/accorsys.localization/action_about.png) !important;
    background-position: center center !important;
}