[class^="ico-flag"] { 
	background: url("/bitrix/images/accorsys.localization/flags.png") no-repeat;
	display: -moz-inline-box; 
	-moz-box-orient: vertical; 
	display: inline-block; 
	*display: inline; 
	*zoom: 1; 
	vertical-align: baseline; 
	position: relative; 
	overflow: hidden;
	width: 16px; 
	height: 11px; 
	font-size: 0;
	line-height: 0; 
	margin: 0; 
	padding: 0;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
    float: left;
}

[class$="-AD"] {background-position: -16px 0;}
[class$="-AE"] {background-position: -32px 0;}
[class$="-AF"] {background-position: -48px 0;}
[class$="-AG"] {background-position: -64px 0;}
[class$="-AI"] {background-position: -80px 0;}
[class$="-AL"] {background-position: -96px 0;}
[class$="-AM"] {background-position: -112px 0;}
[class$="-AN"] {background-position: -128px 0;}
[class$="-AO"] {background-position: -144px 0;}
[class$="-AR"] {background-position: -160px 0;}
[class$="-AS"] {background-position: -176px 0;}
[class$="-AT"] {background-position: -192px 0;}
[class$="-AU"] {background-position: -208px 0;}
[class$="-AW"] {background-position: -224px 0;}
[class$="-AZ"] {background-position: -240px 0;}
[class$="-BA"] {background-position: 0 -11px;}
[class$="-BB"] {background-position: -16px -11px;}
[class$="-BD"] {background-position: -32px -11px;}
[class$="-BE"] {background-position: -48px -11px;}
[class$="-BF"] {background-position: -64px -11px;}
[class$="-BG"] {background-position: -80px -11px;}
[class$="-BH"] {background-position: -96px -11px;}
[class$="-BI"] {background-position: -112px -11px;}
[class$="-BJ"] {background-position: -128px -11px;}
[class$="-BM"] {background-position: -144px -11px;}
[class$="-BN"] {background-position: -160px -11px;}
[class$="-BO"] {background-position: -176px -11px;}
[class$="-BR"] {background-position: -192px -11px;}
[class$="-BS"] {background-position: -208px -11px;}
[class$="-BT"] {background-position: -224px -11px;}
[class$="-BV"] {background-position: -240px -11px;}
[class$="-BW"] {background-position: 0 -22px;}
[class$="-BY"] {background-position: -16px -22px;}
[class$="-BZ"] {background-position: -32px -22px;}
[class$="-CA"] {background-position: -48px -22px;}
[class$="-CATALONIA"] {background-position: -64px -22px;}
[class$="-CD"] {background-position: -80px -22px;}
[class$="-CF"] {background-position: -96px -22px;}
[class$="-CG"] {background-position: -112px -22px;}
[class$="-CH"] {background-position: -128px -22px;}
[class$="-CI"] {background-position: -144px -22px;}
[class$="-CK"] {background-position: -160px -22px;}
[class$="-CL"] {background-position: -176px -22px;}
[class$="-CM"] {background-position: -192px -22px;}
[class$="-CN"] {background-position: -208px -22px;}
[class$="-CO"] {background-position: -224px -22px;}
[class$="-CR"] {background-position: -240px -22px;}
[class$="-CU"] {background-position: 0 -33px;}
[class$="-CV"] {background-position: -16px -33px;}
[class$="-CW"] {background-position: -32px -33px;}
[class$="-CY"] {background-position: -48px -33px;}
[class$="-CZ"] {background-position: -64px -33px;}
[class$="-DE"] {background-position: -80px -33px;}
[class$="-DJ"] {background-position: -96px -33px;}
[class$="-DK"] {background-position: -112px -33px;}
[class$="-DM"] {background-position: -128px -33px;}
[class$="-DO"] {background-position: -144px -33px;}
[class$="-DZ"] {background-position: -160px -33px;}
[class$="-EC"] {background-position: -176px -33px;}
[class$="-EE"] {background-position: -192px -33px;}
[class$="-EG"] {background-position: -208px -33px;}
[class$="-EH"] {background-position: -224px -33px;}
[class$="-ENGLAND"] {background-position: -240px -33px;}
[class$="-ER"] {background-position: 0 -44px;}
[class$="-ES"] {background-position: -16px -44px;}
[class$="-ET"] {background-position: -32px -44px;}
[class$="-EU"] {background-position: -48px -44px;}
[class$="-FI"] {background-position: -64px -44px;}
[class$="-FJ"] {background-position: -80px -44px;}
[class$="-FK"] {background-position: -96px -44px;}
[class$="-FM"] {background-position: -112px -44px;}
[class$="-FO"] {background-position: -128px -44px;}
[class$="-FR"] {background-position: -144px -44px;}
[class$="-GA"] {background-position: -160px -44px;}
[class$="-GB"],
[class$="-UK"] {background-position: -176px -44px;}
[class$="-GD"] {background-position: -192px -44px;}
[class$="-GE"] {background-position: -208px -44px;}
[class$="-GF"] {background-position: -224px -44px;}
[class$="-GG"] {background-position: -240px -44px;}
[class$="-GH"] {background-position: 0 -55px;}
[class$="-GI"] {background-position: -16px -55px;}
[class$="-GL"] {background-position: -32px -55px;}
[class$="-GM"] {background-position: -48px -55px;}
[class$="-GN"] {background-position: -64px -55px;}
[class$="-GP"] {background-position: -80px -55px;}
[class$="-GQ"] {background-position: -96px -55px;}
[class$="-GR"] {background-position: -112px -55px;}
[class$="-GS"] {background-position: -128px -55px;}
[class$="-GT"] {background-position: -144px -55px;}
[class$="-GU"] {background-position: -160px -55px;}
[class$="-GW"] {background-position: -176px -55px;}
[class$="-GY"] {background-position: -192px -55px;}
[class$="-HK"] {background-position: -208px -55px;}
[class$="-HM"] {background-position: -224px -55px;}
[class$="-HN"] {background-position: -240px -55px;}
[class$="-HR"] {background-position: 0 -66px;}
[class$="-HT"] {background-position: -16px -66px;}
[class$="-HU"] {background-position: -32px -66px;}
[class$="-IC"] {background-position: -48px -66px;}
[class$="-ID"] {background-position: -64px -66px;}
[class$="-IE"] {background-position: -80px -66px;}
[class$="-IL"] {background-position: -96px -66px;}
[class$="-IM"] {background-position: -112px -66px;}
[class$="-IN"] {background-position: -128px -66px;}
[class$="-IO"] {background-position: -144px -66px;}
[class$="-IQ"] {background-position: -160px -66px;}
[class$="-IR"] {background-position: -176px -66px;}
[class$="-IS"] {background-position: -192px -66px;}
[class$="-IT"] {background-position: -208px -66px;}
[class$="-JE"] {background-position: -224px -66px;}
[class$="-JM"] {background-position: -240px -66px;}
[class$="-JO"] {background-position: 0 -77px;}
[class$="-JP"] {background-position: -16px -77px;}
[class$="-KE"] {background-position: -32px -77px;}
[class$="-KG"] {background-position: -48px -77px;}
[class$="-KH"] {background-position: -64px -77px;}
[class$="-KI"] {background-position: -80px -77px;}
[class$="-KM"] {background-position: -96px -77px;}
[class$="-KN"] {background-position: -112px -77px;}
[class$="-KP"] {background-position: -128px -77px;}
[class$="-KR"] {background-position: -144px -77px;}
[class$="-KURDISTAN"] {background-position: -160px -77px;}
[class$="-KW"] {background-position: -176px -77px;}
[class$="-KY"] {background-position: -192px -77px;}
[class$="-KZ"] {background-position: -208px -77px;}
[class$="-LA"] {background-position: -224px -77px;}
[class$="-LB"] {background-position: -240px -77px;}
[class$="-LC"] {background-position: 0 -88px;}
[class$="-LI"] {background-position: -16px -88px;}
[class$="-LK"] {background-position: -32px -88px;}
[class$="-LR"] {background-position: -48px -88px;}
[class$="-LS"] {background-position: -64px -88px;}
[class$="-LT"] {background-position: -80px -88px;}
[class$="-LU"] {background-position: -96px -88px;}
[class$="-LV"] {background-position: -112px -88px;}
[class$="-LY"] {background-position: -128px -88px;}
[class$="-MA"] {background-position: -144px -88px;}
[class$="-MC"] {background-position: -160px -88px;}
[class$="-MD"] {background-position: -176px -88px;}
[class$="-ME"] {background-position: -192px -88px;}
[class$="-MG"] {background-position: -208px -88px;}
[class$="-MH"] {background-position: -224px -88px;}
[class$="-MK"] {background-position: -240px -88px;}
[class$="-ML"] {background-position: 0 -99px;}
[class$="-MM"] {background-position: -16px -99px;}
[class$="-MN"] {background-position: -32px -99px;}
[class$="-MO"] {background-position: -48px -99px;}
[class$="-MP"] {background-position: -64px -99px;}
[class$="-MQ"] {background-position: -80px -99px;}
[class$="-MR"] {background-position: -96px -99px;}
[class$="-MS"] {background-position: -112px -99px;}
[class$="-MT"] {background-position: -128px -99px;}
[class$="-MU"] {background-position: -144px -99px;}
[class$="-MV"] {background-position: -160px -99px;}
[class$="-MW"] {background-position: -176px -99px;}
[class$="-MX"] {background-position: -192px -99px;}
[class$="-MY"] {background-position: -208px -99px;}
[class$="-MZ"] {background-position: -224px -99px;}
[class$="-NA"] {background-position: -240px -99px;}
[class$="-NC"] {background-position: 0 -110px;}
[class$="-NE"] {background-position: -16px -110px;}
[class$="-NF"] {background-position: -32px -110px;}
[class$="-NG"] {background-position: -48px -110px;}
[class$="-NI"] {background-position: -64px -110px;}
[class$="-NL"] {background-position: -80px -110px;}
[class$="-NO"] {background-position: -96px -110px;}
[class$="-NP"] {background-position: -112px -110px;}
[class$="-NR"] {background-position: -128px -110px;}
[class$="-NU"] {background-position: -144px -110px;}
[class$="-NZ"] {background-position: -160px -110px;}
[class$="-OM"] {background-position: -176px -110px;}
[class$="-PA"] {background-position: -192px -110px;}
[class$="-PE"] {background-position: -208px -110px;}
[class$="-PF"] {background-position: -224px -110px;}
[class$="-PG"] {background-position: -240px -110px;}
[class$="-PH"] {background-position: 0 -121px;}
[class$="-PK"] {background-position: -16px -121px;}
[class$="-PL"] {background-position: -32px -121px;}
[class$="-PM"] {background-position: -48px -121px;}
[class$="-PN"] {background-position: -64px -121px;}
[class$="-PR"] {background-position: -80px -121px;}
[class$="-PS"] {background-position: -96px -121px;}
[class$="-PT"] {background-position: -112px -121px;}
[class$="-PW"] {background-position: -128px -121px;}
[class$="-PY"] {background-position: -144px -121px;}
[class$="-QA"] {background-position: -160px -121px;}
[class$="-RE"] {background-position: -176px -121px;}
[class$="-RO"] {background-position: -192px -121px;}
[class$="-RS"] {background-position: -208px -121px;}
[class$="-RU"] {background-position: -224px -121px;}
[class$="-RW"] {background-position: -240px -121px;}
[class$="-SA"] {background-position: 0 -132px;}
[class$="-SB"] {background-position: -16px -132px;}
[class$="-SC"] {background-position: -32px -132px;}
[class$="-SCOTLAND"] {background-position: -48px -132px;}
[class$="-SD"] {background-position: -64px -132px;}
[class$="-SE"] {background-position: -80px -132px;}
[class$="-SG"] {background-position: -96px -132px;}
[class$="-SH"] {background-position: -112px -132px;}
[class$="-SI"] {background-position: -128px -132px;}
[class$="-SK"] {background-position: -144px -132px;}
[class$="-SL"] {background-position: -160px -132px;}
[class$="-SM"] {background-position: -176px -132px;}
[class$="-SN"] {background-position: -192px -132px;}
[class$="-SO"] {background-position: -208px -132px;}
[class$="-SOMALILAND"] {background-position: -224px -132px;}
[class$="-SR"] {background-position: -240px -132px;}
[class$="-SS"] {background-position: 0 -143px;}
[class$="-ST"] {background-position: -16px -143px;}
[class$="-SV"] {background-position: -32px -143px;}
[class$="-SX"] {background-position: -48px -143px;}
[class$="-SY"] {background-position: -64px -143px;}
[class$="-SZ"] {background-position: -80px -143px;}
[class$="-TC"] {background-position: -96px -143px;}
[class$="-TD"] {background-position: -112px -143px;}
[class$="-TF"] {background-position: -128px -143px;}
[class$="-TG"] {background-position: -144px -143px;}
[class$="-TH"] {background-position: -160px -143px;}
[class$="-TJ"] {background-position: -176px -143px;}
[class$="-TK"] {background-position: -192px -143px;}
[class$="-TL"] {background-position: -208px -143px;}
[class$="-TM"] {background-position: -224px -143px;}
[class$="-TN"] {background-position: -240px -143px;}
[class$="-TO"] {background-position: 0 -154px;}
[class$="-TR"] {background-position: -16px -154px;}
[class$="-TT"] {background-position: -32px -154px;}
[class$="-TV"] {background-position: -48px -154px;}
[class$="-TW"] {background-position: -64px -154px;}
[class$="-TZ"] {background-position: -80px -154px;}
[class$="-UA"] {background-position: -96px -154px;}
[class$="-UG"] {background-position: -112px -154px;}
[class$="-UM"] {background-position: -128px -154px;}
[class$="-EN"],
[class$="-US"] {background-position: -144px -154px;}
[class$="-UY"] {background-position: -160px -154px;}
[class$="-UZ"] {background-position: -176px -154px;}
[class$="-VA"] {background-position: -192px -154px;}
[class$="-VC"] {background-position: -208px -154px;}
[class$="-VE"] {background-position: -224px -154px;}
[class$="-VG"] {background-position: -240px -154px;}
[class$="-VI"] {background-position: 0 -165px;}
[class$="-VN"] {background-position: -16px -165px;}
[class$="-VU"] {background-position: -32px -165px;}
[class$="-WALES"] {background-position: -48px -165px;}
[class$="-WF"] {background-position: -64px -165px;}
[class$="-WS"] {background-position: -80px -165px;}
[class$="-YE"] {background-position: -96px -165px;}
[class$="-YT"] {background-position: -112px -165px;}
[class$="-ZA"] {background-position: -128px -165px;}
[class$="-ZANZIBAR"] {background-position: -144px -165px;}
[class$="-ZM"] {background-position: -160px -165px;}
[class$="-ZW"] {background-position: -176px -165px;}
